.ant-card .ant-card-head{
    color: #000;
    font-weight: 600
}

// .card{
//     &__topic{
//         &--inner{
//             height: 100px;
//             width: auto;
//         }
//     }
// }

.ant-card-meta-title{
    color: #000!important;
}