.header{
    display: flex;
    align-items: center;
    &__logo {
        display: flex;
        align-items: center;
        img{
            height: 30px;
            width: auto;
        }
        margin-right: 10%;
    }
    &__admin{
        margin-left: auto;
    }
}
.header__menu {
    flex: 1;
    overflow: visible !important; // Ngăn AntD tự động thu gọn menu
}
