.logo{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-collapsed{
    color: #fff;
    background-color: transparent;
    border: none;
    width: 64px!important;
    height: 64px;
    font-size: 25px;
    cursor: pointer;
}

.layout__header{
    padding: 0;
    display: flex;
    padding-right: 70px;
}

.layout__header--left{
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.button__login{
    margin-right: 10px;
}



.button-collapsed:hover{
    background-color: rgba(251, 245, 245, 0.3);
}

.sider{
    transition: 0.5s;
    height: 100vh;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
}


.logo img{
    width: auto;
    height: auto;
    padding-top: 3%;
    max-height: 64px;
}


.layout__content{
    padding: 10px 0 0 10px;

}



