.avatar{
    background-color: #b258d0;
    height: 40px!important;
    width: 40px!important;
    cursor: pointer;
    &__popup{
        p{
            margin: 0!important;
            padding: 5px 10px;
            cursor: pointer;
        }
        p:hover{
            background-color: #efefef;
        }
    }
}

.ant-popover-inner{
    padding: 5px 0!important
}

.ant-popover-content{
    width: max-content;
}

.avatar svg{
    font-size: 25px;
}

.forgot__password:hover{
    cursor: pointer;
    text-decoration: underline;
}

.email__reset{
    display: flex;
    justify-content: flex-end;
}

.layout__header--search{
    width: 30%;
    height: 50%;
    border-radius: 16px;
    margin-left: 20px;
    input{
        margin-left: 5px;
    }
}



.total__search{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 5px;
    
}

.song{
    &__infor{
        p{
            margin: 0;
            margin-bottom: 1px;
        }
        margin-left: 7px;
    }

}

.total__search:hover{
    background-color: #b258d011;
    cursor: pointer;
}

.popover-content {
    width: 310px;
}

.popover-content{
    overflow: hidden;
}